<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>

<div class="container">
    <h2>Login</h2>

    <div th:if="${message != null}" class="message">
        [[${message}]]
    </div>

    <form th:action="@{/login}" method="post" role="form"th:object="${user}">
        <div class="input-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email"  required>
        </div>
        <div class="input-group">
            <label for="role">Role:</label>
            <input th:field="*{role}" type="text" id="role" name="role" placeholder="Enter your Role" required>
        </div>
        <div class="input-group">
            <label for="pass">Password:</label>
            <input th:field="*{password}" type="password" id="pass" name="pass" placeholder="Enter your Password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
</body>
</html>
