<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #daefef;
        }


    </style>
    <title>Vertical Centering</title>
</head>
<body>

<div class="container">
    <fieldset>
        <h1 style="color: rgb(62, 210, 62);" >Your Order Is Placed Successful </h1>
    </fieldset>
</div>

</body>
</html>
